.text-box{
  width: 130px;
  height: 25px;
  border-radius: 5px;
  border-width: thin;
  font-size: 11px;
  margin-right: 10px;
}
.shadow-box{
  margin-left: 0px;
  width: 270px;
  height: 21px;
  font-size: xx-small;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
